# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [231]:
# Libraries
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [232]:
# your code here
admissions_df = pd.read_csv("data\Admission_Predict.csv")
admissions_df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [233]:
# your code here
column_names=[col.strip() for col in admissions_df.columns]
column_names

admissions_df.columns=column_names

Let's evaluate the dataset by looking at the `head` function.

In [234]:
# your code here
admissions_df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [235]:
# your code here
admissions_df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [236]:
# your code here
admissions_df.set_index("Serial No.",drop=False)

#admissions_df.droplevel(0)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [237]:
# your code here
admissions_df[["GRE Score","CGPA"]].value_counts().sum()

385

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [238]:
admissions_df.set_index(["GRE Score","CGPA"],inplace=True)
admissions_df

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...
324,9.04,381,110,3,3.5,3.5,1,0.82
325,9.11,382,107,3,3.0,3.5,1,0.84
330,9.45,383,116,4,5.0,4.5,1,0.91
312,8.78,384,103,3,3.5,4.0,0,0.67
333,9.66,385,117,4,5.0,4.0,1,0.95

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [239]:
# your code here
admissions_df.reset_index(inplace=True)

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [240]:
# your code here

admissions_df[admissions_df["CGPA"]>9][admissions_df["Research"]==1]

#admissions_df["Research"]==1

C:\Users\te_sa\AppData\Local\Temp\ipykernel_23220\2406008950.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  admissions_df[admissions_df["CGPA"]>9][admissions_df["Research"]==1]

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
4,330,9.34,5,115,5,4.5,3.0,1,0.90
10,328,9.10,11,112,4,4.0,4.5,1,0.78
19,328,9.50,20,116,5,5.0,5.0,1,0.94
20,334,9.70,21,119,5,5.0,4.5,1,0.95
...,...,...,...,...,...,...,...,...,...
379,329,9.23,380,111,4,4.5,4.0,1,0.89
380,324,9.04,381,110,3,3.5,3.5,1,0.82
381,325,9.11,382,107,3,3.0,3.5,1,0.84
382,330,9.45,383,116,4,5.0,4.5,1,0.91
384,333,9.66,385,117,4,5.0,4.0,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [241]:
# your code here

result = admissions_df[admissions_df["CGPA"]>9][admissions_df["SOP"]<3.5]

result["Chance of Admit"].mean()

C:\Users\te_sa\AppData\Local\Temp\ipykernel_23220\3746659902.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  result = admissions_df[admissions_df["CGPA"]>9][admissions_df["SOP"]<3.5]

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [242]:
#new_columns=["CGPA_std","GRE_std","LOR_std"]
existing_col=["CGPA","GRE Score","LOR"]


def standardize(data):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    mean=admissions_df[col].mean()

    return (data-mean)/2

for col in existing_col:
    admissions_df[col + "_std"]=admissions_df[col].apply(standardize)

admissions_df

    
    
    # your code here

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE Score_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,0.526455,10.133766,0.534416
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.298545,-0.366234,0.034416
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.036455,2.633766,-0.465584
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.193545,-1.366234,-0.215584
4,330,9.34,5,115,5,4.5,3.0,1,0.90,0.371455,6.633766,-0.215584
...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.221455,3.633766,0.034416
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.256455,4.133766,0.034416
382,330,9.45,383,116,4,5.0,4.5,1,0.91,0.426455,6.633766,0.534416
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.091455,-2.366234,0.284416
384,333,9.66,385,117,4,5.0,4.0,1,0.95,0.531455,8.133766,0.284416

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [243]:
# your code here



admissions_df.rename(columns = {'GRE Score_std':'GRE_std'}, inplace = True)
admissions_df

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,0.526455,10.133766,0.534416
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.298545,-0.366234,0.034416
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.036455,2.633766,-0.465584
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.193545,-1.366234,-0.215584
4,330,9.34,5,115,5,4.5,3.0,1,0.90,0.371455,6.633766,-0.215584
...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.221455,3.633766,0.034416
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.256455,4.133766,0.034416
382,330,9.45,383,116,4,5.0,4.5,1,0.91,0.426455,6.633766,0.534416
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.091455,-2.366234,0.284416
384,333,9.66,385,117,4,5.0,4.0,1,0.95,0.531455,8.133766,0.284416

We will generate the decision choice at random using the code below. Please run the cell.

In [244]:
# Libraries
from random import choices

In [245]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions_df.shape[0])
decision_choice

['LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std']

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [246]:
# your code here

admissions_df["deciding_choice"]=decision_choice
admissions_df["deciding_column"]=admissions_df.lookup(admissions_df.index,admissions_df["deciding_choice"])

admissions_df

C:\Users\te_sa\AppData\Local\Temp\ipykernel_23220\1525725563.py:4: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  admissions_df["deciding_column"]=admissions_df.lookup(admissions_df.index,admissions_df["deciding_choice"])

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_choice,deciding_column
0,337,9.65,1,118,4,4.5,4.5,1,0.92,0.526455,10.133766,0.534416,LOR_std,0.534416
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.298545,-0.366234,0.034416,GRE_std,-0.366234
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.036455,2.633766,-0.465584,LOR_std,-0.465584
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.193545,-1.366234,-0.215584,GRE_std,-1.366234
4,330,9.34,5,115,5,4.5,3.0,1,0.90,0.371455,6.633766,-0.215584,LOR_std,-0.215584
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.221455,3.633766,0.034416,GRE_std,3.633766
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.256455,4.133766,0.034416,LOR_std,0.034416
382,330,9.45,383,116,4,5.0,4.5,1,0.91,0.426455,6.633766,0.534416,GRE_std,6.633766
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.091455,-2.366234,0.284416,GRE_std,-2.366234
384,333,9.66,385,117,4,5.0,4.0,1,0.95,0.531455,8.133766,0.284416,LOR_std,0.284416

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [247]:
# your code here

def decision(x):
    if x > 0.8:
        return 1
    else:
        return 0

admissions_df["decision"]=admissions_df["deciding_column"].apply(decision)

admissions_df

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_choice,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,0.526455,10.133766,0.534416,LOR_std,0.534416,0
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.298545,-0.366234,0.034416,GRE_std,-0.366234,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.036455,2.633766,-0.465584,LOR_std,-0.465584,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.193545,-1.366234,-0.215584,GRE_std,-1.366234,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,0.371455,6.633766,-0.215584,LOR_std,-0.215584,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.221455,3.633766,0.034416,GRE_std,3.633766,1
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.256455,4.133766,0.034416,LOR_std,0.034416,0
382,330,9.45,383,116,4,5.0,4.5,1,0.91,0.426455,6.633766,0.534416,GRE_std,6.633766,1
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.091455,-2.366234,0.284416,GRE_std,-2.366234,0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,0.531455,8.133766,0.284416,LOR_std,0.284416,0

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [248]:
# your code here

admissions_df["decision"].value_counts()

#60 students will be accepted

0    332
1     53
Name: decision, dtype: int64

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [249]:
admissions_df

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_choice,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,0.526455,10.133766,0.534416,LOR_std,0.534416,0
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.298545,-0.366234,0.034416,GRE_std,-0.366234,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.036455,2.633766,-0.465584,LOR_std,-0.465584,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.193545,-1.366234,-0.215584,GRE_std,-1.366234,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,0.371455,6.633766,-0.215584,LOR_std,-0.215584,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.221455,3.633766,0.034416,GRE_std,3.633766,1
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.256455,4.133766,0.034416,LOR_std,0.034416,0
382,330,9.45,383,116,4,5.0,4.5,1,0.91,0.426455,6.633766,0.534416,GRE_std,6.633766,1
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.091455,-2.366234,0.284416,GRE_std,-2.366234,0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,0.531455,8.133766,0.284416,LOR_std,0.284416,0

In [250]:
# your code here

col_names=admissions_df.columns
admissions_lst=[]

print(col_names)

for i in col_names:
     i= i.replace(" ", "1")
     i= i.replace("_", "1")

     i =''.join(c for c in i if c.isalnum())
     i= i.replace("1", "_")
     
     admissions_lst.append(i.lower())



admissions_df.columns=admissions_lst
admissions_df

Index(['GRE Score', 'CGPA', 'Serial No.', 'TOEFL Score', 'University Rating',
       'SOP', 'LOR', 'Research', 'Chance of Admit', 'CGPA_std', 'GRE_std',
       'LOR_std', 'deciding_choice', 'deciding_column', 'decision'],
      dtype='object')

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_choice,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,0.526455,10.133766,0.534416,LOR_std,0.534416,0
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.298545,-0.366234,0.034416,GRE_std,-0.366234,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.036455,2.633766,-0.465584,LOR_std,-0.465584,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.193545,-1.366234,-0.215584,GRE_std,-1.366234,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,0.371455,6.633766,-0.215584,LOR_std,-0.215584,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.221455,3.633766,0.034416,GRE_std,3.633766,1
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.256455,4.133766,0.034416,LOR_std,0.034416,0
382,330,9.45,383,116,4,5.0,4.5,1,0.91,0.426455,6.633766,0.534416,GRE_std,6.633766,1
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.091455,-2.366234,0.284416,GRE_std,-2.366234,0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,0.531455,8.133766,0.284416,LOR_std,0.284416,0

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [254]:
# your code here

def gre_boost(x,y):
    if x >= 4:
        return y + 10
    else:
        return y

admissions_df["adjusted_gre"]=admissions_df.apply(lambda z: gre_boost(z.university_rating, z.gre_score),axis=1)
admissions_df

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_choice,deciding_column,decision,adjusted_gre
0,337,9.65,1,118,4,4.5,4.5,1,0.92,0.526455,10.133766,0.534416,LOR_std,0.534416,0,347
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.298545,-0.366234,0.034416,GRE_std,-0.366234,0,316
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.036455,2.633766,-0.465584,LOR_std,-0.465584,0,322
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.193545,-1.366234,-0.215584,GRE_std,-1.366234,0,314
4,330,9.34,5,115,5,4.5,3.0,1,0.90,0.371455,6.633766,-0.215584,LOR_std,-0.215584,0,340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.221455,3.633766,0.034416,GRE_std,3.633766,1,324
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.256455,4.133766,0.034416,LOR_std,0.034416,0,325
382,330,9.45,383,116,4,5.0,4.5,1,0.91,0.426455,6.633766,0.534416,GRE_std,6.633766,1,340
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.091455,-2.366234,0.284416,GRE_std,-2.366234,0,312
384,333,9.66,385,117,4,5.0,4.0,1,0.95,0.531455,8.133766,0.284416,LOR_std,0.284416,0,343